/* style page for the default markup */

:root {
  /* initialization */
  --width: 100%;
  --height: 100vh;
  --min-height: 100vh;

  /* font and typography */
  --body-font: ;

  /* colors */

  --body-text-color: #000;
  --white: #fff;
  --black: #000;
  --primary: blue;
  --secondary: #ec3237;

  --text-color: #222;

  /* font-size */

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* z index */

  --z-index-high: 999;
  --z-index-medium: 99;
  --z-index-regular: 9;
  --z-index: 1;
}

/* predefined classes */

.flex {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
 
button,
input {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
svg {
  vertical-align: middle;
}

/* body markup */

body {
  width: var(--width);
  min-height: var(--min-height);
  color: var(--text-color);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffffe+0,fff9b5+99 */
  background: #fffffe; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #fffffe 0%,
    #fff9b5 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #fffffe 0%,
    #fff9b5 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #fffffe 0%,
    #fff9b5 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffe', endColorstr='#fff9b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h2{
  text-transform: uppercase;
}
span{
  font-weight: bold;
}
b{
  font-weight: bold;
}

i{
  font-style: italic;
}